<div class="jumbotron" ng-controller="NewCtrl">
  {{articles.article2.author}}
  <h2>Nowy artykuł!</h2>
  <form role="form" >
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="article.title" placeholder="tytuł" class="form-control">
        <textarea ng-model="article.body" rows="5" placeholder="tresc artykułu" class="form-control"></textarea>
        <input type="text" ng-model="article.author" placeholder="autor" class="form-control">
      <input type="button" class="btn-block btn-primary" ng-click="addArticle(article)" value="Dodaj">
    </div>

  </form>
  <div class="alert alert-success" role="alert" ng-show="added">Dodano pomyślnie.</div>

</div>


